.header {
    font-weight: bold;
    font-size: 32px;
}
.subtext {
    font-size: 18px;
}
input {
    width: 80%;
    padding: 6px 8px;
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 6px 0px 0px 6px;
    box-sizing: border-box;
}
.inventor {
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    width: 100%;
    outline: none;
    background-color: white;
}

.inventor-highlighted {
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    width: 100%;
    outline: none;
    background-color: var(--primary);
}

.inventor-shadow {
    box-shadow: 0 0 5px 2px #bbb;
    border-radius: 20px;
}

img {
    margin-right: 2%;
}

.add-btn {
    background-color: var(--primary);
    border-radius: 0px 6px 6px 0px;
    width: 8%;
}

.remove-btn, .highlighted-remove-btn {
    border-radius: 0px 20px 20px 0px;
    width: 20%;
    border: none;
    border-left: 2px solid black;
}




.remove-btn {
    background-color: white;
}

.highlighted-remove-btn {
    background-color: var(--primary);
}

.btn-container {
    width: 40%;
    margin-right: 10%;
}



