.header {
    font-weight: bold;
    font-size: 32px;
}
.subtext {
    font-size: 18px;
}
input {
    width: 80%;
    padding: 6px 8px;
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 6px 0px 0px 6px;
    box-sizing: border-box;
}
.inventor {
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    background-color: lightgray;
    border: none;
    width: 100%;
    outline: none;
}

.inventor-highlighted {
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    background-color: lightblue;
    border: none;
    width: 100%;
    outline: none
}

img {
    margin-right: 2%;
}

.add-btn {
    background-color: var(--primary);
    border-radius: 0px 6px 6px 0px;
    width: 8%;
}

.remove-btn, .highlighted-remove-btn {
    border-radius: 0px 10px 10px 0px;
    width: 20%;
}

.remove-btn {
    background-color: lightgray;
}

.highlighted-remove-btn {
    background-color: lightblue;
}

.btn-container {
    width: 40%;
    margin-right: 10%;
}



