<div class="p-d-flex p-jc-center">
    <img id="graphic" src="../../../assets/otherinventorsgraphic.png">
    <div id="container">

        <div class="header">Tell us about the other inventors.</div>

        <br/>
        <div class="subtext">What are the names of the other inventors?</div>
        <br/>

        <form [formGroup]="inventorsForm" (ngSubmit)="addInventor()" class="p-d-flex">
            <input matInput formControlName="name" #name>
            <button type="submit"  (click)="name.value=''" class="add-btn" >
                <i class="pi pi-plus"></i>
            </button>
        </form>

        <br/>

        <div>Who is the primary inventor?</div>
        <div class="p-d-flex p-flex-wrap">
            <div *ngFor="let inventor of inventors; let i = index" class="btn-container">
                <br/>
                <div class="p-d-flex">
                    <button [ngClass]="inventor.primary?'inventor-highlighted':'inventor'" 
                    (click)="setPrimaryInventor(inventor)">{{inventor.name}}</button>
                    <button [ngClass]="inventor.primary?'highlighted-remove-btn':'remove-btn'" (click)=removeInventor(i)>
                        <i class="pi pi-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>