.division-img {
    width: 29%;
    margin: 1% 2%;
}

img {
    width: 100%;
    height: auto;
}

.divisions-container {
    width: 60%;
    margin: auto;
}

.selected {
    border: 2px solid black;

}