.division-img {
    margin: 2% 2%;
}
.division-btn {
    border-radius: 50%;
    background: none;
    border: none;
    box-shadow: 0 0 8px 2px #cccccc;
    width: 250px;
    height: 250px;
    outline: none;
}

.divisions-container {
    width: 80%;
}
