
.head {
    text-align: center;
}


.body {
    margin: 0 0 0 10%;
    width: 90%;
}
.text {
    width: 100%;
}

label {
    margin-right: 2%;
}


.responsive-img {
    width: 100%;
    height: auto;
    max-width: 33%;
    margin-left: 5%;
}

.responsive-form {
    width: 100%;
    height: auto;
    max-width: 40%;
}

