
.head {
    text-align: center;
    margin-top: -3%;
}


.body {
    margin-left: 10%;
    width: 90%;
}
.text {
    width: 100%;
}

label {
    margin-right: 2%;
}


.responsive-img {
    width: 100%;
    max-width: 33%;
    height: auto;
    margin-left: 5%;
}

.responsive-form {
    width: 100%;
    height: auto;
    max-width: 40%;
}

.subtext {
    color: gray;
    margin-bottom: 8%;
    font-size: 14px;
}

input {
    border-radius: 15px;
}

