.progress-bar {
    width: 80%;
    height: 30px;
    margin-top: 1%;
}

.filled-bar{
    background-color: #c0e1ef;
    border-radius: 50px 0 0 50px;
}

.completely-filled {
    border-radius: 50px;
}

.empty-bar{
    background-color: #ddeff7;
    border-radius: 0 50px 50px 0;
}

img {
    height: auto;
    max-width: 80%;
    margin: auto;
}


